{% extends 'main.html' %} {% load static %} {% block contenidoQueCambia %}
<!-- <div class="container">
    <h1>Formulario de Cursos</h1>
    <form action="{% url 'CursoFormulario' %}" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="JavaScript desde Cero"
                required>
            <label for="nombre">Nombre del curso (texto)</label>
        </div>
        <div class="form-floating">
            <input type="number" class="form-control" id="comision" name="comision" placeholder="23443" required>
            <label for="comision">Numero de comisión (numero)</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="codigo" name="codigo" placeholder="ffs4gsff" required>
            <label for="codigo">Codigo del curso (texto)</label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
</div> -->
<div class="container">
    <h1>Busqueda de Curso</h1>
    <a href="{% url 'Cursos' %}" class="btn btn-primary">Ver Cursos</a>
    <a href="{% url 'BusquedaComision' %}" class="btn btn-primary">Buscar Cursos</a>

    <form action="{% url 'CursoFormulario' %}" method="POST" class="m-4">
        {% csrf_token %}
        {{miFormulario.as_div}}
        <p>ACLARACIÓN: Se debe introducir el URL de la imagen</p>
        <div class="col-12 m-2">
            <button type="submit" class="btn btn-primary">Crear</button>
        </div>

    </form>
</div>
{% endblock contenidoQueCambia %}