{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'Inicio'%}"
            ><img src="{%static 'img/codermouse.png'%}" alt="" width="180rem"/></a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Inicio' %}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Estudiantes' %}">Estudiantes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Profesores' %}">Profesores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Entregables' %}">Entregables</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Cursos' %}">Cursos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
